<div class="latest-product__text">
	<h4>{{carousel.title}}</h4>
	<div class="latest-product__slider carousel">
		<div class="latest-prdouct__slider__item">
			<a href="#" class="latest-product__item"
				*ngFor="let product of carousel.products.splice(0,carousel.products.length/2)">
				<div class="latest-product__item__pic">
					<img [src]="product.img" alt="">
				</div>
				<div class="latest-product__item__text">
					<h6>{{product.name}}</h6>
					<span>{{product.price}}</span>
				</div>
			</a>
		</div>
		<div class="latest-prdouct__slider__item d-none">
			<a href="#" class="latest-product__item"
				*ngFor="let product of carousel.products.splice((carousel.products.length/2)-1)">
				<div class="latest-product__item__pic">
					<img [src]="product.img" alt="">
				</div>
				<div class="latest-product__item__text">
					<h6>{{product.name}}</h6>
					<span>{{product.price}}</span>
				</div>
			</a>
		</div>
	</div>
</div>
