.categories {
	height: 250px;
	display: flex;
	overflow: hidden;
	&__slider {
		display: flex;
		width: auto;
		height: 50px;
		padding: 10px;
		white-space: nowrap;
	}
	&__item {
		height: 270px;
		width: 20vw;
		margin: 0 10px 0 0;
		display: inline-block;
		h5 {
			font-size: 1.5rem;
			font-weight: bold;
			color: black;
			text-align: center;
			background-color: #fff;
			position: relative;
			bottom: 70px;
		}
	}
	&__next,&__prev {
		position: absolute;
		top: 330px;
	}
	&__next {
		right: 0;
	}
	&__prev {
		left: 0;
	}
}
