<!-- Categories Section Begin -->
<section class="categories">
	<button class="btn btn-primary categories__prev" (click)="prev()">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z" />
			<path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
		</svg>
	</button>
	<div class="categories__slider" #carousel>
		<figure class="categories__item" *ngFor="let departament of dataSource">
			<img [src]="departament.image" alt="">
			<figcaption>
				<h5><a href="#">{{departament.name|titlecase}}</a></h5>
			</figcaption>
		</figure>
	</div>
	<button type="button" class="btn btn-primary categories__next" (click)="next()">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z" />
			<path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
		</svg>
	</button>
</section>
<!-- Categories Section End -->
