<div class="product__discount">
	<div class="section-title product__discount__title">
		<h2>Sale Off</h2>
	</div>
	<div class="row">
		<div class="product__discount__slider owl-carousel">
			<div class="col-lg-4">
				<app-shop-discount-slider-item></app-shop-discount-slider-item>
			</div>
			<div class="col-lg-4">
				<app-shop-discount-slider-item></app-shop-discount-slider-item>
			</div>
			<div class="col-lg-4">
				<app-shop-discount-slider-item></app-shop-discount-slider-item>
			</div>
			<div class="col-lg-4">
				<app-shop-discount-slider-item></app-shop-discount-slider-item>
			</div>
			<div class="col-lg-4">
				<app-shop-discount-slider-item></app-shop-discount-slider-item>
			</div>

		</div>
	</div>
</div>
